Multi Input Type Whatsapp Agent.json
{
  "name": "Multi Input Type Whatsapp Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6dd3511f-267b-4b5e-926f-b5748cbc27cc",
      "name": "WhatsApp Trigger",
      "webhookId": "dae562a4-6566-4f64-9d00-f9f441309cd4",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "jHLFszRErNzlCyPY",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c192a820-1f35-495a-bd77-d316c5d9ed7d",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "={{ 'audio' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2425cf78-0c90-4503-b7f8-42607d58fe49",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "={{ 'text' }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "7f872f6b-1ffd-462c-96ca-a3bc1a439596",
      "name": "Filter",
      "notesInFlow": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "685ee52f-0d1d-46ed-a232-efeb9c3200ab"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97bda5a3-1be2-4625-81b6-a9eb1bb7466b",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        0
      ],
      "id": "baddb1a0-66ff-4015-b11b-8db644b29b98",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        -176
      ],
      "id": "dc54dda4-b288-4671-b33f-cf81a566a8b2",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "HCkaAylBbpOKestz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        704,
        -176
      ],
      "id": "620d2005-d6a4-48f9-be5c-09eb2cd9eee5",
      "name": "Download media",
      "webhookId": "8ed3a3b3-4bf5-4ab5-81dd-c51a0042f7b4",
      "credentials": {
        "whatsAppApi": {
          "id": "1W12raKt4BlRSrD3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output_text }} || {{ $json.body[0] }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Please try to summarise your response sharp and crisp"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1792,
        16
      ],
      "id": "7968ec0d-ab6e-4d41-9408-dd8ca64ca043",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1648,
        208
      ],
      "id": "b150bb74-ef74-4b6f-8df1-927bb07e5f5f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HCkaAylBbpOKestz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.parts[0].text"
            },
            {
              "fieldToAggregate": "messages[0].text.body"
            }
          ]
        },
        "options": {
          "disableDotNotation": false,
          "mergeLists": false,
          "keepMissing": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        16
      ],
      "id": "aaabb449-971b-4edb-b993-326ea817e89c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "text[0]",
              "newKey": "output_text"
            },
            {
              "currentKey": "body"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1552,
        16
      ],
      "id": "08b1fb7d-ddc5-49c3-b11d-71eee2a48f97",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1808,
        208
      ],
      "id": "4b2758f1-9d1b-467b-ae88-fe2ff952ea8d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        -176
      ],
      "id": "95790d8c-5ad6-4860-84b1-95609ddda7da",
      "name": "Convert from Url to Binary",
      "credentials": {
        "whatsAppApi": {
          "id": "1W12raKt4BlRSrD3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2960,
        -96
      ],
      "id": "6173d4bc-ec74-4fa2-bf2e-26f4c05fa83d",
      "name": "send text message",
      "webhookId": "b1750d97-642b-4669-b6c6-7e62c139c960",
      "credentials": {
        "whatsAppApi": {
          "id": "1W12raKt4BlRSrD3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "79be06d2-0832-456d-af4e-b4c3d172555c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "246a4937-7a8a-489d-8723-a1e7d045aa46",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2352,
        16
      ],
      "id": "58645c21-ce78-4a8a-aca2-0dbe8e981586",
      "name": "router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.murf.ai/v1/speech/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $vars.MURF_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "voiceId",
              "value": "en-US-natalie"
            },
            {
              "name": "format",
              "value": "MP3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        112
      ],
      "id": "0abb1c71-e610-4bb0-8313-3f94e3e732f7",
      "name": "Murf Text to Speech"
    },
    {
      "parameters": {
        "url": "={{ $json.audioFile }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        112
      ],
      "id": "c7875406-d642-4a55-bbb1-2544eff85934",
      "name": "Convert from Http Url to Binary"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2976,
        112
      ],
      "id": "a163e8a1-6e49-4fb5-92c6-d9465d6db1c2",
      "name": "Send audio message",
      "webhookId": "6432ff66-1317-4e9a-80a3-7a8136481f42",
      "credentials": {
        "whatsAppApi": {
          "id": "1W12raKt4BlRSrD3",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Convert from Url to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Convert from Url to Binary": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "router": {
      "main": [
        [
          {
            "node": "send text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Murf Text to Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Murf Text to Speech": {
      "main": [
        [
          {
            "node": "Convert from Http Url to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert from Http Url to Binary": {
      "main": [
        [
          {
            "node": "Send audio message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d0b2bd2-b651-4fbb-9282-dc2f7aefc931",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4875c36f49e7c115ad2aad98aa70412fd00236db139035f8a7c7c48aa09ec332"
  },
  "id": "mH41P4ZTxnXiKXxk",
  "tags": []
}