Simple Slack Bot Integration with AI Agent for Search Queries.json
{
  "name": "Simple Slack Bot Integration with AI Agent for Search Queries",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6f91e291-337a-4edf-9d58-9adc6b87d523",
      "name": "Slack Trigger",
      "webhookId": "3fa25f4c-9cc2-4a0a-a7ee-fefd9a95e041",
      "credentials": {
        "slackApi": {
          "id": "Mw59ctCHQmoQxsE7",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a AI Search Agent which will take user input what user wants to search and based on the input you search and return the result"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "e2598624-30ae-4188-aec8-45bd7164f67f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "18fa73a3-bfb1-4f3a-bfac-712356de87a3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HCkaAylBbpOKestz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "gl": "us",
          "hl": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "5fb5f4b0-6549-4bab-80b7-3f8c6fe37324",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "K9vGUA1to3ykWQIV",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "1c5bf604-5787-4d0d-87a7-9e41806afb4e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "ec1a6b21-dfb0-4681-8773-8ecf72aee029",
      "name": "Send a message",
      "webhookId": "77ee3416-dd86-41c6-af4e-65e28121ebac",
      "credentials": {
        "slackApi": {
          "id": "Mw59ctCHQmoQxsE7",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "682c2460-49b9-4911-878f-a50f81c27581",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4875c36f49e7c115ad2aad98aa70412fd00236db139035f8a7c7c48aa09ec332"
  },
  "id": "412a335KPnSAxBF3",
  "tags": []
}