Weather API AI Agent.json
{
  "name": "Weather API AI Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nI am a weather assistant. How can I help you ?",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        112,
        0
      ],
      "id": "74b277cb-c714-4701-9195-a0f3e1568d85",
      "name": "When chat message received",
      "webhookId": "138fb5c4-8cd7-4ed3-ad97-bc6a62d33687"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful weather assistant based on the info you get the near by latitude and longitude from the google search tool and send it to the weather tool as input in case latitude and longitude are not given and show the eather data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "7aae3ac4-f57f-4501-91b1-cbb2c3927bb8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "a3c9c338-5725-43a5-b881-8bc1e714c5a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HCkaAylBbpOKestz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        224
      ],
      "id": "05cfe13b-0a99-4489-be54-f8f77c317bc0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Tool which Makes an HTTP request to get the current weather info from latitude and longitude ",
        "url": "=https://weather.googleapis.com/v1/currentConditions:lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $vars.GOOGLE_CLOUD_WEATHER_API_KEY }}"
            },
            {
              "name": "location.latitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `This will be the latitude param`, 'string') }}"
            },
            {
              "name": "location.longitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `This will be the longitude param`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        704,
        224
      ],
      "id": "7c5f1e82-b1a3-4059-b29a-55be64ae6dd3",
      "name": "Weather Tool"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "id": "dd89a9df-9bba-4c63-8a7b-5be36446e1f0",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {
          "hl": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        864,
        224
      ],
      "id": "32ec4b3d-b2b3-4579-b1d2-7343f8f03487",
      "name": "Search API",
      "credentials": {
        "serpApi": {
          "id": "K9vGUA1to3ykWQIV",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe5120da-79d2-4eb2-9c99-d46307add61b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4875c36f49e7c115ad2aad98aa70412fd00236db139035f8a7c7c48aa09ec332"
  },
  "id": "ncpzpbP1ur1LhKQt",
  "tags": []
}